{% extends 'layout.html' %}

{% block badass_content %}

<h1>about</h1>
<img id="my-picture" src="{{ url_for('static', filename='img/me(light).png') }}" />
</br></br></br></br>
<p>I'm <b>Mouad</b>, a French Engineer from Paris, passionated about data <i class="em em-chart_with_upwards_trend"></i>, technology  <i class="em em-zap"></i><p> and soccer <i class="em em-soccer"></i>.
<p><br></br>
My strong background in math coupled with my passion for data/quantitative analysis have naturally pushed me to thrive in the data science field. I currently work as sr. data scientist at <b>Tesla</b>, where I enjoy enabling data-driven decicion making with very diverse datasets.
<p><br>
My interests are various but mainly focused around two areas :
<ul>
  <li><b>Data Science</b>: Data Mining, Machine Learning, Artificial Intelligence</li>
  <li><b>Economics and Finance</b>: Business Strategy, Investment Research, Financial Modeling</li>
</ul>
</p>
<p>
They have in common the need for a deep understanding of the data but also for the ability to take a step back and understand the "real" world.

</br><br>
<h2>Strength in Numbers</h2>
<p>
I graduated from MINES ParisTech (the "French MIT") in 2015 where I went through a heavy training in Mathematics, Physics and Economics.
<p><br>
I did three internships in total (two in finance, one in tech) all focused on data analysis. I have experience working with very large data sets and collaborating with both engineering teams and product/program managers.
<p><br>
You can find <a href="{{ url_for('static', filename='pdf/CV.pdf') }}">here</a> my resume in PDF and my data stack below :
<ul>
  <li>Programming : R, Python (Tensorflow, Numpy, Scipy, Pandas, Scikit-Learn, Keras), VBA, Bash/Unix, Git, etc.</li>
  <li>Databases : SQL, MongoDB. Exposure to Hadoop, Impala, Spark</li>
  <li>Visualization : ggplot2, matplotlib, Tableau, Plotly, Shiny, etc.</li>
  <li>Front-end development: flask, Heroku, HTML/CSS</li>
  <li>Others: MS Office, Latex, Photoshop, Premiere</li>
</ul>
</p>

</br>
<h2>Interests</h2>
<p>
Amongst too many things, I'm a big fan of cinema and HBO TV shows including The Wire, The Sopranos, Boardwalk Empire, etc. I enjoy discovering arts and never miss an occasion to attend a gallery exhibition. Eventually, I'm (of course) very passionate about French cuisine.
</br></br>
</p>
<p>
I love soccer (I practice it a lot and watch when possible) and grew up being a fan of PSG for the connoisseurs. <!--Living in the Bay Area allows me to enjoy the Warriors in the NBA. -->I also run half-marathons. 
</br></br>
</p>
<p>
I try to travel as much as possible. Discovering new cultures, new ways of doing things has helped me a lot professionally but also personally. I enjoy capturing all those moments with my Nikon D5500 camera and blog on <a href = "https://itismouad.exposure.co/">exposure</a> but to be honest, it often ends up on the <a href = "https://instagram.com/itismouad/">instagram</a> account.
</br></br>

{% endblock %}