{% extends 'layout.html' %}

{% block badass_content %}

<h1>welcome</h1>

<!-- INTRO DETAILS -->
<br>
<p>I am a data scientist with 5+ years of experience applying quantitative analysis, artificial intelligence and business strategy to the financial, transportation and energy industries. I lead data science efforts at <a href="http://www.tesla.com">Tesla</a>, accelerating the world's transition to sustainable energy. I also give talks occasionally.
<br>
<!-- CONTACT DETAILS -->
<br>
<i class="em em-mailbox"></i> If you want to contact me, please shoot me an email at md dot hadji at gmail dot com.
<br>
<!-- SPEAKING AND WRITITNG DETAILS -->
<br>
I have written few blog posts in the past and I am hoping this will be something I will do more regularly. You can browse <a href="{{ url_for('blog') }}">here</a> and subscribe to my newsletter below :
<br>
<br>
<p align="center"><iframe width="480" height="320" src="https://itismouad.substack.com/embed" frameborder="0" scrolling="no"></iframe></p>
<!-- SOCIAL MEDIA DETAILS -->
<div class="social-list">
	<a class="linkedin" href="http://www.linkedin.com/in/mouadhadji/"><i class="fa fa-linkedin fa-4x"></i></a>
	<a class="github" href="https://github.com/itismouad"><i class="fa fa-github fa-4x"></i></a>
	<a class="instagram" href="https://instagram.com/itismouad"><i class="fa fa-instagram fa-4x"></i></a>
	<!--<a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/itismouad">Tweets by itismouad</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
</div>

{% endblock %}
