{% extends 'layout.html' %}

{% block badass_content %}

<h1>welcome</h1>
<br>
<p>I am a data scientist with a MSc. in applied mathematics and a 3+ years of experience working in quantitative analysis, machine learning and financial modeling.
<br>
<br>
My journey started in France where I grew up but I have actually mostly worked abroad including in Silicon Valley (where I live now), Vancouver and London. Go <a href="{{ url_for('about') }}">here</a> to find my resume and more details about me.
<br>
<br>
<i class="em em-mailbox"></i> If you want to contact me, please try <a href="mailto:md.hadji@gmail.com"> my email</a>.
<br>
<br>
<div class="social-list">
<a class="linkedin" href="http://www.linkedin.com/in/mouadhadji/"><i class="fa fa-linkedin fa-4x"></i></a>
<a class="twitter" href="https://twitter.com/itismouad"><i class="fa fa-twitter fa-4x"></i></a>
</div>

{% endblock %}
