{% extends 'layout.html' %}

{% block badass_content %}

<h1>welcome</h1>
<!-- INTRO DETAILS -->
<br>
<p>I am a French engineer based in San Francisco with 6+ years of experience applying data science and business strategy to the financial, transportation and energy industries.
<br>
<!-- JOB DETAILS -->
<br>
<p> I currently lead a data science team at Tesla which helps design and validate the most compelling hardware products for our customers.
<br>
<!-- CONTACT DETAILS -->
<br>
<i class="em em-mailbox"></i> If you want to contact me (including for talks), please shoot me an email at md dot hadji at gmail dot com.
<br>
<!-- SPEAKING AND WRITITNG DETAILS
<br>
I have written few blog posts in the past. Subscribe to my newsletter below to be notified when I publish something new.
<br>
<br>
<p align="center"><iframe width="480" height="320" src="https://itismouad.substack.com/embed" frameborder="0" scrolling="no"></iframe></p>
<br>
 -->
<br>
<br>
<p class="quote">
	"The real voyage of discovery consists not in seeking new landscapes, but in having new eyes"<b> Marcel Proust</b>
</p>
<!-- SOCIAL MEDIA DETAILS -->
<div class="social-list">
	<a class="linkedin" href="http://www.linkedin.com/in/mouadhadji/"><i class="fa fa-linkedin fa-4x"></i></a>
	<a class="github" href="https://github.com/itismouad"><i class="fa fa-github fa-4x"></i></a>
	<a class="instagram" href="https://instagram.com/itismouad"><i class="fa fa-instagram fa-4x"></i></a>
</div>
<br>
<br>
{% endblock %}
