{% extends 'layout.html' %}

{% block badass_content %}
<div class="projects-main-page">
    <h1>projects</h1>
    <br>
    <h2><a href="https://github.com/itismouad/advanced_lane_finding">Advanced Lane Lines Identification.</a></h2>
    <p>
        Identifying lane lines and the curvature of the road with computer vision techniques such as gradient and color thresholding.<br>
    </p>
    <br>
    <h2><a href="https://github.com/itismouad/vehicle_detection">Vehicle Detection and Tracking.</a></h2>
    <p>
        Identify and track vehicles from a front-facing camera on a car with computer vision and machine learning.<br>
    </p>
    <br>
    <h2><a href="https://github.com/itismouad/text-frites">NLP Tutorial.</a></h2>
    <p>
        Playing with deep learning and Natural Language Processing techniques to analyze ~500,000 Amazon fine food reviews.<br>
    </p>
    <br>
    <h2><a href="https://github.com/itismouad/traffic_sign_classifier">Traffic Sign Classifier.</a></h2>
    <p>
        Traffic sign images classification using deep convolutional neural networks and the <a href="http://benchmark.ini.rub.de/?section=gtsrb&subsection=dataset">German Traffic Sign Dataset</a>.
    </p>
    <br>
    <h2><a href="https://github.com/itismouad/behavioral_cloning">Behavioral Cloning for self-driving car.</a></h2>
    <p>
        Using deep learning to teach a car how to steer itself based on three camera images.
    </p>
    <br>
</div>
{% endblock %}

