{% extends 'layout.html' %}

{% block badass_content %}
<div class="projects-main-page">
    <h1>projects (WiP)</h1>
    <br>
    <h2><a href="https://github.com/itismouad/sdcnd_finding_lane_lines_on_the_road">Finding Lanes on the road.</a></h2>
    <p>
        Live identification of lane lines on the road on a video.<br>
    </p>
    <br>
    <h2><a href="https://github.com/itismouad/sdcnd_traffic_sign_classifier">Traffic Sign Classifier.</a></h2>
    <p>
        Traffic sign images classification using deep convolutional neural networks and the <a href="http://benchmark.ini.rub.de/?section=gtsrb&subsection=dataset">German Traffic Sign Dataset</a>.
    </p>
</div>
{% endblock %}

