{% extends 'layout.html' %}

{% block badass_content %}
<div class="projects-main-page">
    <h1>projects (WiP)</h1>
    <h2><a href="https://github.com/itismouad/sdcnd_finding_lane_lines_on_the_road">Finding Lanes on the road.</a></h2>
    <p>
        In this project, I explain how to identify lane lines on the road using Python and the OpenCV library. The end goal will be to showcase how the code can find lane lines "live" in a video (which is pretty cool).<br>
    </p>

    <h2><a href="https://github.com/itismouad/sdcnd_traffic_sign_classifier">Traffic Sign Classifier.</a></h2>
    <p>
        In this project, I use deep convolutional neural networks to perform traffic sign images classification. I use the <a href="http://benchmark.ini.rub.de/?section=gtsrb&subsection=dataset">German Traffic Sign Dataset</a> to train my model and try it out on new images downloaded from the web.
    </p>
</div>
{% endblock %}

