{% extends 'layout.html' %}

{% block badass_content %}

<h1>reads</h1>
<br>
<p> You will find here a list of my favorite sources for news and good reads.</p>
<br>

<!-- NEWSLETTER -->
<h2>Newsletters</h2>
<h3>Business, Finance & Technology</h3>
<ul>
    <li><a href="http://link.mail.bloombergbusiness.com/join/4wm/moneystuff-signup">Money Stuff</a>, by Matt Levine</li>
    <li><a href="https://stratechery.com/">Stratechery</a>, by Ben Thompson</li>
    <li><a href="https://www.ben-evans.com/newsletter">Benedict's Newsletter</a>, by Benedict Evans</li>
    <li><a href="https://mailchi.mp/investoramnesia.com/subscribe">Investor Amnesia</a>, by Jamie Catherwood</li>
    <li><a href="https://snacks.robinhood.com/">Robinhood Snacks</a></li>
    <li><a href="https://www.titanvest.com/research/#subscribe">Titan Research</a>, by Titan</li>
</ul>
<h3>Mobility</h3>
    <ul>
    <li><a href="https://movements.substack.com/">Movements</a>, on Substack</li>
    <li><a href="https://www.getrevue.co/profile/maps">Spatial Awareness</a>, by Robin Hawkes</li>
</ul>
<h3>Data</h3>
<ul>
  <li><a href="https://realpython.com/newsletter/">The Real Python</a>, by Dan Bader</li>
  <li><a href="https://towardsdatascience.com/">Towards Data Science</a></li>
  <li><a href="http://ai.stanford.edu/blog/">Stanford AI Lab Blog</a></li>
  <li><a href="https://pudding.cool/">Visual Essays</a>, by The Pudding</li>
  <li><a href="https://medium.com/airbnb-engineering">Airbnb</a> & <a href="https://eng.uber.com/">Uber</a> Engineering blogs</li>
</ul>
<h3>Lifestyle</h3>
<ul>
    <li><a href="https://thewirecutter.com/">Wirecutter</a>, by the NYTimes</li>
</ul>
<br>

<!-- BOOKS
<h2>Books</h2>
<ul>
    <li>test, by A</li>
    <li>test, by A</li>
    <li>test, by A</li>
</ul>
<br>
-->

{% endblock %}
