{% extends 'article.html' %}

{% block article_content %}
<p>I wrote a Medium blog post at the end of my Tesla internship back in 2014 titled <a href="https://medium.com/@itismouad/why-every-student-should-experience-the-silicon-valley-1e05dc17c22a">"Why every student should experience Silicon Valley"</a>. I shared my thoughts about interning in Silicon Valley at that moment. It was very well-received by my friends and thought it would be interesting to put it here.</p>
<p class="quote">Leaving your own country, where your skills may be already recognized, and moving to an unfamiliar territory lets you identify aspects of your personality you still need to shape.</p>

</br>
{% endblock %}
